.post {
  margin: 24px 0;
  min-height: 100vh;
  margin-bottom: 50vh;

  &:last-child {
    margin-bottom: 24px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .body {
    margin: 12px 0;
    font-size: 24px;
  }

  .tags {
    display: flex;
    margin: 24px 0;

    .tag {
      font-size: 14px;
      padding: 4px 8px;
      font-weight: 500;
      border-radius: 4px;
      margin-right: 16px;
      background: #f8f8f8;
    }
  }

  .claps {
    margin: 24px 0;
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #f8f8f8;

    .icon {
      padding: 10px;
      margin-right: 8px;
      border-radius: 50px;
      border: 1px solid #f8f8f8;
    }

    .count {
      align-self: center;
    }
  }

  .responses {
    .heading {
      margin: 8px 0;
      font-size: 16px;
      font-weight: 600;
    }

    input {
      padding: 44px 30px;
    }

    .list {
      margin: 24px 0;

      .response {
        padding: 24px;
        margin: 12px 0;
        border-radius: 4px;
        border: 1px solid #f8f8f8;

        .user {
          display: flex;
          .thumbnail {
            width: 50px;
            margin-right: 20px;
            border-radius: 50px;
          }
          .username {
            font-size: 16px;
            font-weight: 600;
            align-self: center;
            color: forestgreen;
          }
        }
        .content {
          font-size: 16px;
          font-weight: 500;
          margin-top: 12px;
          word-wrap: break-word;
        }
      }
    }
  }
}
